/*@media(min-width: 30.063em) and (max-width:48.06299){*/


.page{
	width: 96%;
	}
nav {   
        border-radius: 5px 5px 0px 0px;
		-moz-border-radius: 5px 5px 0px 0px;
		-webkit-border-radius: 5px 5px 0px 0px; 
}  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
}  
    nav li {  
        width: 50%;  
         float: left;
     	 background: #C2C27A;       
}  
nav li:last-child{
		width: 100%;
	
}
nav li a {  
    border: 1px solid #283744;  
}  
nav a {  
    text-align: left;  
    width: 100%;  
    text-indent: 25px;
}  
.clearfix li:hover ul{
	left:0;
}
.sub1 li{
	float:none;
	z-index: 1;
}
.sub1 li a{
	margin-top: 0px;
	background: #C2C27A;
	border-bottom: 2px solid #283744;
	white-space: nowrap;
}
#header-lower{
	margin-top:87px; 
	width: 100%;
	height: 180px;
	background-color: #ECF6CE;
	border:1px solid #C2C27A;
}
#header-lower-right{
	
}

 #tel, #signup, #search{
	

}
#tel{
	text-indent: -9999px;
	line-height: 0;/*to collapse original line*/

}
#tel::after{
	content: "Tel: 0113 123 4567";
	text-indent: 0;
	display: block;
	float: left;
	margin:  0;
	padding: 2%;
	font-size: 1.1em;
	line-height: 2em;
}
 #tel span{
	 
 }
#search{
	width: 70%;
	margin:6% 0 0 0;
	text-align: center;
	
}
#search input[type=text]{
width: 60%;


	
}
#search .submit{
width: 30%;


padding: 0;
}


#search input[type=text], #search button{
	
}
#signup{
	float: right;
	margin: 6% 0 0;
	padding: 1%;
	font-size: 1.1em;
	line-height: 2em;
	background-color: #BDFFD2;
}


#logo { 
	text-align: center;
	height: auto;
	font-size: 2em;
	font-weight: bold;
	line-height: 2em;	
	margin: 10px;

}
article{
	width: 100%;
	height:auto;
	margin: 2% 0 2% 0%; 
	padding: 0px auto;
	float: left;
	text-align: justify;
	border: 1px solid #C2C27A;
	background-color:  #ECF6CE;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
article p a{
	text-align: right;
}
article h1{
	color: #198D19;
}
article h2{
	margin: 0 0 15px;
}
#gallery_container {
	display: none;
	width:100%;
	border:1px solid #C2C27A;
	margin: 2px auto;
}
aside{
	width: 100%;
	height: 200px;
	float:right;
	margin: 2% 0 1% 0;
	padding: 0px;
	overflow: scroll;
	border: 1px solid #C2C27A;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
aside h2{
	margin-top:0px;
}

aside ul{
	padding: 0 1em 0 2em;
}
#thump_date p{
	font-size: 90%;
	line-height: 90%;
	padding:.3em .4em .2em .1em;
}
aside ul li{
	font-size: 80%;
	line-height: 100%;
	padding:.3em .4em .2em .1em;
}
aside ul li a h4{
	width: 100%;
	font-size: .8em;
	font-weight:bold;
	margin: 0px;
	text-transform: uppercase;
	padding:.3em .4em .2em .1em;
	color:#393B0B;

}
aside ul li p{
	font-size: 80%;
	line-height: 90%;
	padding:.3em .4em .2em .1em;
}
#thump_date
#thump_text
#thump_text a{
	font-size: 1em;
	font-weight: normal;
	margin: 0px;
	text-transform: uppercase;
	padding:.3em;
	background-color: #C2C27A;
}
aside h2, ul>li, #thumb_text, #thumb_date{
	margin: 0;

}
.attraction_container{
	clear: both;
	margin: 0 ;
	background-color: #eee;
}
.attraction {
	margin: 2%;
	padding:0;
	border: 1px solid #C2C27A;
	width: 45%;
	height: 300px;
	float: left;
	background-color: #ECF6CE;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.attraction h3 {
	font-size: 1em;
	font-weight: normal;
	margin: 0px;
	text-transform: uppercase;
	padding:.3em;
	background-color: #C2C27A;
}
 .attraction p {
	margin: 0.3em;;
	float: right;
	display: inline-block;
	vertical-align: top;
	color: #393B0B;
}
 .attraction ul{
	margin: 0;	
}
.attraction li{
list-style-type: square;		
}
.attraction a{
text-decoration: none;
color: #393B0B;	
}
.attraction img {
	padding: 0px;
	margin: 0px auto;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
.attr_info{
	margin: 1em;
}
#holder{
width: 100%;
display:inline-block;
margin: 10px 0px 10px 0;
	
}
.map-video-signup-fb-tt{
	width: 60%;	
	overflow: hidden;
	float: left;
	
}
#videomap {
	width: 100%;
	display: block;
}
.video_map{
	width: 100%;
	display: inline;
	border: 1px solid red;	
	float: left;
	 margin: 0px;
	 background: #ECF6CE;
	 border: 1px solid #C2C27A;
	 border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;

}

#map {
		margin-left: 0;
		margin-right: 2%;
}
#video{
	display: none;
	margin-right: 0;
	margin-left: 2%;	
}
.video_map h2{
	margin: 0px;
}
#subscr-fb-tt {
	width: 100%;
}
.subscribe{
	
	width: 100%;
	margin: 2% 0;
	text-align: center;
	border: 1px solid #C2C27A;
	background: #ECF6CE;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
.subscribe h4{
	font-size: 1.5em;
	background: #C2C27A;
	padding: 3%;
	margin:0;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
.subscribe p{
	margin: .3em;
	line-height: 15px;
	text-align: center;
}
hr{
	width: 90%;
	margin: 2% auto;
	color: #e6e6e6;
}
.information-fb-tt {
width: 100%;

margin: 2% 0;
background: #ECF6CE;
border: 1px solid #C2C27A;
border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
#facebook{	
	width: 100%;
	background: #eee;
	margin-right: 0;
}
#facebook h4{
	text-align:center;
	font-size: 1.5em;
	background: #C2C27A;
	padding: 3%;
	margin:0;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	
}
#facebook button{
	color: #fff;
	background: #000099;
	margin-top: 10px;
	height: 40px;
	width: 100%;
}
#twitter{
	margin-left:0;
	width: 100%;
	float: right;
	background: #eee;
	
}
#twitter button{
	color: #fff;
	background: #00CCFF;
	margin: 10px 0px;
	height: 40px;
	width: 100%;
}
.more_info{
	width: 38%;
	float:right;
	margin-left: 2%; 
	border:1px solid #C2C27A;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;

}
.more_info h4{
	font-size: 1.5em;
	background: #C2C27A;
	padding: 3%;
	margin:0;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
#accordion{
	width: 100%;
	margin:0 auto;
	padding: 2px;
	overflow: hidden;
	background: #ECF6CE;
}

#accordion p{
	float: left;
	color: #000066;
	cursor: pointer;
	margin:1%;
	height: 280px;	
}
#accordion h4{
	font-weight: normal;
	font-size: 1em;
	background: #C2C27A;
	text-transform: uppercase;
	padding: .3em;
	margin: 2%;
	cursor: pointer;
	line-height: 34px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #C2C27A;
	
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
form {
    
    width: 70%;
   
}
#contact, #subscribe-form, #register{
	margin:2% auto;
}

textarea {
	width: 100%;
	height:213px;
	background: #eee;
}
.field{
	height: 30px;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border: 1px solid #C2C27A;
}
 .submit{
 	margin:1%;
	height: 30px;
	width: 50%;
	background: #C2C27A;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #666;
}
input:focus, textarea:focus {
    border:1px solid #97d6eb;
}
#submit:hover {
	    opacity:.9;
	}
}

.clear{ clear: both; line-height: 1px;}
/* RATINGS*/

.attr_rating {
	display: block;
	width: 40%;
	background-color:#d4af37;
	line-height: 1em;
	font-size: .9em; 
	padding: 2%;
	margin: 4px 0 2px 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.attr_rate {
	font-size: .9em;
	font-weight: normal;
	margin: 4px 0 2px 2px;
}

.attr_rate a {
	color: #daa520;
	font-size: 1.2em;
	font-weight: bold;
	margin: 4px 0 2px 2px;
}	
/* EVENTS LISTINGS */

#event_list{
	padding:0 0 5px 0; 
}

#event_list a img{
	margin: 0;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}

.event_item {
	margin: 2% 2% 1% 0%;
	padding: 0px;
	border: 1px solid #C2C27A;
	width: 48%;
	height: 270px;
	float: left;
	background-color: #ECF6CE;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.event_item h5{
	font-size: .8em;
	font-weight: bold;
	margin: 1px 1px 1px 4px;
	padding:.5em;
	line-height: 1em;
	color:#393B0B;
	text-transform: uppercase;	
}

#event_date {
	font-size: .8em;
	font-weight: normal;
	margin: 1px 1px 1px 4px;
	padding:.5em;
	line-height: 1em;
	color:#393B0B;

}

#thumb_text p{
	font-size: .8em;
	font-weight: normal;
	margin: 1px 1px 1px 4px;
	padding:.5em;
	line-height: 1em;
	color:#393B0B;
}

}

